.chatList {
  padding: 20px;
}

.chatList .search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chatList .searchBar {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.chatList .searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  font-size: 14px;
}

.chatList .searchBar img {
  width: 20px;
  height: 20px;
}

.chatList .add {
  width: 36px;
  height: 36px;
  background-color: rgba(17, 25, 40, 0.5);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatList .add:hover {
  background-color: rgba(17, 25, 40, 0.7);
}
