.chatList {
  padding: 20px;
  overflow: scroll;
  scrollbar-width: thin;            
  scrollbar-color: black transparent;
}

.chatList .search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.chatList .searchBar {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.chatList .searchBar input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  font-size: 14px;
}

.chatList .searchBar img {
  width: 20px;
  height: 20px;
}

.chatList .add {
  width: 36px;
  height: 36px;
  background-color: rgba(17, 25, 40, 0.5);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatList .add:hover {
  background-color: rgba(21, 30, 48, 0.7);
}

.chatList .item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(62, 54, 104, 0.2);
  transition: background-color 0.2s ease;
}

.chatList .item:hover {
  background-color: rgba(45, 56, 77, 0.3);
}

.chatList .item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatList .item .texts {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chatList .item .texts span {
  font-weight: 500;
  color: #fff;
}

.chatList .item .texts p {
  font-size: 14px;
  font-weight: 300;
  color: #ccc;
  margin: 0;
}
